<div class="p-6">
  <h2 class="text-2xl font-bold mb-6 text-slate-800">
    Resultados de búsqueda
    <span *ngIf="apiService.lastQuery()" class="text-slate-500 text-2xl font-bold mb-6">
      para "{{ apiService.lastQuery() }}"
    </span>
  </h2>

  <div *ngIf="loading()" class="text-blue-500 font-medium">Cargando GIFs...</div>
  <div *ngIf="errorMessage()" class="text-red-600 font-semibold">{{ errorMessage() }}</div>

  <div *ngIf="!loading() && gifs().length" class="masonry">
    <div *ngFor="let gif of gifs()" class="masonry-item">
      <img
        [src]="gif.images.fixed_height?.url || gif.images.original.url"
        [alt]="gif.title"
        class="rounded-xl shadow-md hover:scale-105 transition-transform w-full"
      />
      <span class="block mt-2 text-sm text-slate-700 text-center">{{ gif.title || 'Sin título' }}</span>
    </div>
  </div>

  <div *ngIf="!loading() && !gifs().length" class="text-slate-500 mt-6">
    No se encontraron resultados...
  </div>
</div>
